@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --red: #ff3838;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
}

::selection {
    background: var(--red);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
body {
    background: #f7f7f7;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: #666;
}
.heading span{
    color: var(--red);
}


.btn{
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: .1rem;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--red);
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before{
    width: 100%;
    left: 0;

}
.btn:hover{
    color: #fff;
}


header {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #666;
}

header .logo i {
    color: var(--red);
    padding-right: .5rem;
}

header .navbar a {
    font-size: 2rem;
    margin-left: 2rem;
    justify-content: space-between;
    color: #666;
}

header .navbar a:hover {
    color: var(--red);
}

#menu-bar{
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border: .1rem solid #666;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}

.Home{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    background: url(images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.Home .content{
    flex: 1 1 40rem;
    padding-top: 6.5rem;
}

.Home .image{
    flex: 1 1 40rem;
}

.Home .image img{
    width: 100%;
    animation: float 3s linear infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(3rem);
    }
}

.Home .content h3{
    font-size: 5rem;
    color: #333;
}
.Home .content p{
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}

.Speciality .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.Speciality .box-container .box {
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: .5rem;
}

.Speciality .box-container .box .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%; left: 0;
}

.Speciality .box-container .box .content {
    text-align: center;
    background: #fff;
    padding: 2rem;
}

.Speciality .box-container .box .content img {
    margin: 1.5rem 0;
}

.Speciality .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.Speciality .box-container .box .content p {
    font-size: 1.3rem;
    color: #666;
    padding: 1rem 0;
}
.Speciality .box-container .box:hover .image {
    top: 0;
}

  .Popular .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .Popular .box-container .box {
    padding: 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    text-align: center;
    flex: 1 1 30rem;
    position: relative;
  }

  .Popular .box-container .box img {
    height: 25rem;
    object-fit: cover;
    width: 100%;
    border-radius: .5rem;
  }

  .Popular .box-container .box .price {
    position: absolute;
    top: 3rem; left: 3rem;
    background: var(--red);
    color: #fff;
    font-size: 2rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
  }

  .Popular .box-container .box h3 {
    color: #333;
    font-size: 2.5rem;
    padding-top: 1rem;
  }

  .Popular .box-container .box .stars i {
    color: gold;
    font-size: 1.7rem;
    padding: 1rem .1rem;
  }

  .Steps {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
  }
  
  .Steps .box {
    flex: 1 1 25rem;
    padding: 1rem;
    text-align: center;
  }

  .Steps .box img {
    border-radius: 50%;
    border: 1rem solid #fff;
  }

  .Steps .box h3{
    font-size: 3rem;
    color: #333;
    padding:1rem;
}
.Gallary .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.Gallary .box-container .box{
    height: 25rem;
    flex: 1 1 30rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0,0, 0.1);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}
.Gallary .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.Gallary .box-container .box .content{
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(225, 225,225, .9);
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;

}
.Gallary .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}
.Gallary .box-container .box .content p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}
.Gallary .box-container .box:hover .content{
    top: 0;
}

.Reviwe .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.Reviwe .box-container .box{
    text-align: center;
    padding: 2rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border-radius: .5rem;
    flex: 1 1 30rem;
    background: #333;
    margin-top: 6rem;

}
.Reviwe .box-container .box img{
    height: 12rem;
    width: 12rem;border-radius: 50%;
    border: 1rem solid #fff;
    margin-top: -8rem;
    object-fit: cover;
}
.Reviwe .box-container .box h3{
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
}
.Reviwe .box-container .box .stars i{
    font-size: 2rem;
    color: var(--red);
    padding: .5rem 0;
    cursor: pointer;
}
.Reviwe .box-container .box p{
    font-size: 1.7rem;
    color: #eee;
    padding: 1rem 0;
}

.Order .row {
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0, 0.1);
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-radius: .5rem;
}

.Order .row .image {
    flex: 1 1 30rem;
}
.Order .row .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}
.Order .row form {
    flex: 1 1 50rem;
    padding: 1rem;
}

.Order .row form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Order .row form .inputBox input, .Order .row form textarea {
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    width: 49%;
}

.Order .row form textarea {
     width: 100%;
     resize: none;
     height: 15rem;
}


.Order .row form .btn {
    background: none;
}


.Order .row form .btn:hover {
    background: var(--red);
}
 
.footer{
    background: #000;
    text-align: center;
}
.footer .share{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}
.footer .credit{
    padding: 2.5rem 1rem;
    color: #fff;
    font-weight: normal;
    font-size: 2rem;
}
.footer .credit span{
    color: var(--red);
}

#scroll-top{
    position: fixed;
    top: -120%;
    right: 2rem;
    padding: .5rem 1.5rem;
    font-size: 4rem;
    background: var(--red);
    color: #fff;
    border-radius: .5rem;
    transition: .1s linear;
    z-index: 1000;
}
#scroll-top.active{
    top: calc(100% - 12rem);
}
 .loader-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
} 
.loader-container.fade-out{
    top: -120%;
}
/* responsive  */

@media(max-width:991px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }    
}

@media(max-width:768px) {
    #menu-bar {
        display: initial;
    }
    header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0,0,0,.1);
        border-left: .5rem solid var(--red);
        background: #fff;
    }
}

@media(max-width:400px) {
    html {
        font-size: 50%;
    }
    .Order .row form .inputBox input {
        width: 100%;
    }
}